html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-gap: 10px;
  grid-template: 64px calc(100vh - 84px) / 3fr 2fr;
}

.panel {
  grid-column: span 1;
  grid-row: span 1;
  overflow-y: auto;

  &__section {
    padding: 10px;
  }
}